

	html, body {
		width: 100%;
		height: 100%;
		margin:0;
		font-family: Arial, Helvetica, sans-serif;
	}

	.svg-container {
		    width: 100%;
    height: 100%;
    box-sizing: border-box; 
	}

	#infographicSVG {
		max-width: 100%;
		max-height: 100%;   
		 margin: 0 auto;
    display: block;
	}

	#heartGroup, #circlesLayer, #threeCircles, #threeCirclesText, #circlesLayer #innerCircle, #innerText, #outerText,
	#communityText, #workforceText, #caregiversText ,
	#resilienceIcon, #brainIcon, #stressIcon, #attachmentIcon, #playIcon, #caregivingIcon, #executiveIcon, #temperamentIcon
	{opacity:0; pointer-events:none;}

	#heartGroup{
		cursor:pointer;
	}

	#heartText text{
		font-size: 34px;
	}

	#heart__intro {
		fill: #ee3a43;
		pointer-events: none;
	}
/*
	#caregiversText { 
		-moz-transform: rotate(60deg, 1440px,970px);
		 transform: rotate(60deg, 1440px,970px);
		 }
	#communityText { 
		-moz-transform: rotate(60deg, 790px,970px);
		 transform: rotate(60deg, 790px,970px);
		}
*/
	
	#resilienceIcon {fill: #92278f;}
	#brainIcon {fill: #1a68bb;}
	#attachmentIcon {fill: rgb(255,217,0);}
	#stressIcon {fill: #ee293d;}
	#playIcon {fill: #A1A838;}
	#caregivingIcon {fill: #00ae6d;}
	#temperamentIcon {fill: #FF6600;}
	#executiveIcon {fill: #6DCFF6;} 

	.info-window_stack .info-window__heading {    background-color: #ee3a43;}

	#resilienceWindow .info-window__heading {background-color :  #92278f;}
	#brainWindow .info-window__heading {background-color :  #1a68bb;}
	#attachmentWindow .info-window__heading {background-color :  rgb(255,217,0);}
	#stressWindow .info-window__heading {background-color :  #ee293d;}
	#playWindow .info-window__heading {background-color :  #A1A838;}
	#caregivingWindow .info-window__heading {background-color :  #00ae6d;}
	#temperamentWindow .info-window__heading {background-color :  #FF6600;}
	#executiveWindow .info-window__heading {background-color :  #6DCFF6;}

	#promotionWindow .info-window__heading {background-color :  #006bb7;} 
	#treatmentWindow .info-window__heading {background-color :  #fdb827;} 
	#preventionWindow .info-window__heading {background-color :  #00ab67;} 


	.info-window_stack.active  {background-color: rgb(253, 169, 171);}
	#resilienceWindow {background-color: rgba(146, 39, 143, 0.25);}
	#brainWindow {background-color: rgba(26, 104, 187, 0.25);}
	#attachmentWindow {background-color: rgba(255,217,0, 0.25);}
	#stressWindow {background-color: rgba(238, 41, 61, 0.25);}
	#playWindow {background-color: rgba(161, 168, 56, 0.25);}
	#caregivingWindow {background-color: rgba(0, 174, 109, 0.25);}
	#temperamentWindow {background-color: rgba(255, 102, 0, 0.25);}
	#executiveWindow {background-color: rgba(109, 207, 246, 0.25);} 

	#promotionWindow {background-color: rgba(0, 107, 183, 0.25);} 
	#treatmentWindow {background-color: rgba(253, 184, 39, 0.25);} 
	#preventionWindow {background-color: rgba(0, 171, 103, 0.25);} 

	#resilienceIcon:hover path {
		stroke:#fff !important;
	}

	#heartIcon { 
		transform-origin: 1115px 1155px; 
	}
	#heartText { 
		transform-origin: 1115px 1155px; 
	}
	#heartShade {
		opacity: .5;
		transform-origin: 1115px 1155px; 
	}

	text {
		 text-anchor: middle;
	font-size: 34px;
	fill: #fff;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	}

	#circlesLayer text{
		fill: #666;
	}

	.icon-back {
		opacity: 	0;
	}

	.icon-button {cursor:pointer;}
	.icon-button path {
		 opacity:1; 
		 stroke-linecap:butt;
		 stroke-linejoin:miter;
		 stroke-miterlimit:2;
		 fill-opacity:1; 
		 transition:.4s;

	}
	.icon-button text {
		fill: #333;
	}

	.icon-button:hover path{
		fill:#fff;
	}

 

	.icon-button text {
		font-size: 28px;
	text-transform: none;
	font-weight: 600;
	opacity: 	.8;
	}

	.info-window {	 
	color:#444;
	box-sizing: border-box;
	display: none;
	opacity: 0;
	transition: 	.4s;
	transition-property: opacity; 	
     max-width: 480px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden; 
    background-color: #b2d2e9; 
	}

	.info-window__inner{
		padding: 15px; 
	}

	.info-window.active {
	display: 	block;
	opacity: 1;
	}

	.info-window__heading {

    text-align: center;
	font-size: 18px;
    color: #fff;
    background: #006bb7;
    padding: 10px;
    margin: 0;
    font-weight: 400;
	}

	.info-window h4 {
		margin: .5em 0 0;
	}
	.info-window ul {
		margin: 0;
	}
	.info-window ul {
		text-align: left;
	}


.text-button {
	pointer-events: auto;
	cursor: pointer;
}
